RP-SouthDakota-POC/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "RP-SouthDakota-POC"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/df_FactSalesOrderHeader')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Dimensions"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "reportingSalesOrderHeader",
								"type": "DatasetReference"
							},
							"name": "reportingSalesOrderHeader"
						},
						{
							"dataset": {
								"referenceName": "DimAddress",
								"type": "DatasetReference"
							},
							"name": "DimAddress"
						},
						{
							"dataset": {
								"referenceName": "DimCustomer",
								"type": "DatasetReference"
							},
							"name": "DimCustomer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "targetSalesOrderHeader",
								"type": "DatasetReference"
							},
							"name": "targetSalesOrderHeader"
						}
					],
					"transformations": [
						{
							"name": "LkpShipToAddress",
							"description": "Add second stream to the Lookup from settings. Lookup ShipTo Address"
						},
						{
							"name": "LkpBillToAddress",
							"description": "Add second stream to the Lookup from settings. Lookup BillTo Address"
						},
						{
							"name": "SelectColumnsWShipToDescription"
						},
						{
							"name": "SelectColumnsWBillToAddress"
						},
						{
							"name": "LkpCustomerDescription",
							"description": "Add second stream to the Lookup from settings. Lookup Customer Description"
						},
						{
							"name": "SelectColumnsWCustomerDescription"
						},
						{
							"name": "Upsert"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SalesOrderID as integer,",
						"          RevisionNumber as integer,",
						"          OrderDate as timestamp,",
						"          DueDate as timestamp,",
						"          ShipDate as timestamp,",
						"          Status as integer,",
						"          OnlineOrderFlag as boolean,",
						"          SalesOrderNumber as string,",
						"          PurchaseOrderNumber as string,",
						"          AccountNumber as string,",
						"          CustomerID as integer,",
						"          ShipToAddressID as integer,",
						"          BillToAddressID as integer,",
						"          ShipMethod as string,",
						"          CreditCardApprovalCode as string,",
						"          SubTotal as decimal(19,4),",
						"          TaxAmt as decimal(19,4),",
						"          Freight as decimal(19,4),",
						"          TotalDue as decimal(19,4),",
						"          Comment as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     waterMarkColumn: 'ModifiedDate',",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table',",
						"     mode: 'read') ~> reportingSalesOrderHeader",
						"source(output(",
						"          AddressID as integer,",
						"          AddressLine1 as string,",
						"          AddressLine2 as string,",
						"          City as string,",
						"          StateProvince as string,",
						"          CountryRegion as string,",
						"          PostalCode as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimAddress",
						"source(output(",
						"          CustomerID as integer,",
						"          NameStyle as boolean,",
						"          Title as string,",
						"          FirstName as string,",
						"          MiddleName as string,",
						"          LastName as string,",
						"          Suffix as string,",
						"          CompanyName as string,",
						"          SalesPerson as string,",
						"          EmailAddress as string,",
						"          Phone as string,",
						"          PasswordHash as string,",
						"          PasswordSalt as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimCustomer",
						"reportingSalesOrderHeader, DimAddress lookup(ShipToAddressID == AddressID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LkpShipToAddress",
						"SelectColumnsWShipToDescription, DimAddress lookup(BillToAddressID == AddressID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LkpBillToAddress",
						"LkpShipToAddress select(mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          CustomerID,",
						"          ShipToAddressID,",
						"          BillToAddressID,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          Comment,",
						"          rowguid = reportingSalesOrderHeader@rowguid,",
						"          ModifiedDate = reportingSalesOrderHeader@ModifiedDate,",
						"          ShipToAddressLine1 = AddressLine1",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsWShipToDescription",
						"LkpBillToAddress select(mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          CustomerID,",
						"          ShipToAddressID,",
						"          BillToAddressID,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate = SelectColumnsWShipToDescription@ModifiedDate,",
						"          ShipToAddressLine1,",
						"          BillToAddressLine1 = AddressLine1",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsWBillToAddress",
						"SelectColumnsWBillToAddress, DimCustomer lookup(SelectColumnsWBillToAddress@CustomerID == DimCustomer@CustomerID,",
						"     multiple: false,",
						"     pickup: 'first',",
						"     asc(DimCustomer@CustomerID, true),",
						"     broadcast: 'auto')~> LkpCustomerDescription",
						"LkpCustomerDescription select(mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate = SelectColumnsWBillToAddress@ModifiedDate,",
						"          ShipToAddressDescription = ShipToAddressLine1,",
						"          BillToAddressDesciption = BillToAddressLine1,",
						"          CustomerDescription = CompanyName",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsWCustomerDescription",
						"SelectColumnsWCustomerDescription alterRow(upsertIf(true())) ~> Upsert",
						"Upsert sink(allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     input(",
						"          SalesOrderID as integer,",
						"          OrderDate as timestamp,",
						"          Status as integer,",
						"          SalesOrderNumber as string,",
						"          PurchaseOrderNumber as string,",
						"          AccountNumber as string,",
						"          CustomerDescription as string,",
						"          ShipToAddressDescription as string,",
						"          BillToAddressDesciption as string,",
						"          ShipMethod as string,",
						"          SubTotal as decimal(19,4),",
						"          TaxAmt as decimal(19,4),",
						"          Freight as decimal(19,4),",
						"          TotalDue as decimal(19,4),",
						"          ModifiedDate as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['SalesOrderID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'allErrors',",
						"     transactionCommit: 'single',",
						"     reportSuccessOnError: false,",
						"     mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          CustomerDescription,",
						"          ShipToAddressDescription,",
						"          BillToAddressDesciption,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate",
						"     )) ~> targetSalesOrderHeader"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_FactSalesOrderHeader_wo_CDC')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Dimensions"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "reportingSalesOrderHeader",
								"type": "DatasetReference"
							},
							"name": "reportingSalesOrderHeader"
						},
						{
							"dataset": {
								"referenceName": "DimAddress",
								"type": "DatasetReference"
							},
							"name": "DimAddress"
						},
						{
							"dataset": {
								"referenceName": "DimCustomer",
								"type": "DatasetReference"
							},
							"name": "DimCustomer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "targetSalesOrderHeader",
								"type": "DatasetReference"
							},
							"name": "targetSalesOrderHeader"
						}
					],
					"transformations": [
						{
							"name": "LkpShipToAddress",
							"description": "Add second stream to the Lookup from settings. Lookup ShipTo Address"
						},
						{
							"name": "LkpBillToAddress",
							"description": "Add second stream to the Lookup from settings. Lookup BillTo Address"
						},
						{
							"name": "SelectColumnsWShipToDescription"
						},
						{
							"name": "SelectColumnsWBillToAddress"
						},
						{
							"name": "LkpCustomerDescription",
							"description": "Add second stream to the Lookup from settings. Lookup Customer Description"
						},
						{
							"name": "SelectColumnsWCustomerDescription"
						},
						{
							"name": "Upsert"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SalesOrderID as integer,",
						"          RevisionNumber as integer,",
						"          OrderDate as timestamp,",
						"          DueDate as timestamp,",
						"          ShipDate as timestamp,",
						"          Status as integer,",
						"          OnlineOrderFlag as boolean,",
						"          SalesOrderNumber as string,",
						"          PurchaseOrderNumber as string,",
						"          AccountNumber as string,",
						"          CustomerID as integer,",
						"          ShipToAddressID as integer,",
						"          BillToAddressID as integer,",
						"          ShipMethod as string,",
						"          CreditCardApprovalCode as string,",
						"          SubTotal as decimal(19,4),",
						"          TaxAmt as decimal(19,4),",
						"          Freight as decimal(19,4),",
						"          TotalDue as decimal(19,4),",
						"          Comment as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     waterMarkColumn: 'ModifiedDate',",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table',",
						"     mode: 'read') ~> reportingSalesOrderHeader",
						"source(output(",
						"          AddressID as integer,",
						"          AddressLine1 as string,",
						"          AddressLine2 as string,",
						"          City as string,",
						"          StateProvince as string,",
						"          CountryRegion as string,",
						"          PostalCode as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimAddress",
						"source(output(",
						"          CustomerID as integer,",
						"          NameStyle as boolean,",
						"          Title as string,",
						"          FirstName as string,",
						"          MiddleName as string,",
						"          LastName as string,",
						"          Suffix as string,",
						"          CompanyName as string,",
						"          SalesPerson as string,",
						"          EmailAddress as string,",
						"          Phone as string,",
						"          PasswordHash as string,",
						"          PasswordSalt as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimCustomer",
						"reportingSalesOrderHeader, DimAddress lookup(ShipToAddressID == AddressID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LkpShipToAddress",
						"SelectColumnsWShipToDescription, DimAddress lookup(BillToAddressID == AddressID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LkpBillToAddress",
						"LkpShipToAddress select(mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          CustomerID,",
						"          ShipToAddressID,",
						"          BillToAddressID,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          Comment,",
						"          rowguid = reportingSalesOrderHeader@rowguid,",
						"          ModifiedDate = reportingSalesOrderHeader@ModifiedDate,",
						"          ShipToAddressLine1 = AddressLine1",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsWShipToDescription",
						"LkpBillToAddress select(mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          CustomerID,",
						"          ShipToAddressID,",
						"          BillToAddressID,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate = SelectColumnsWShipToDescription@ModifiedDate,",
						"          ShipToAddressLine1,",
						"          BillToAddressLine1 = AddressLine1",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsWBillToAddress",
						"SelectColumnsWBillToAddress, DimCustomer lookup(SelectColumnsWBillToAddress@CustomerID == DimCustomer@CustomerID,",
						"     multiple: false,",
						"     pickup: 'first',",
						"     asc(DimCustomer@CustomerID, true),",
						"     broadcast: 'auto')~> LkpCustomerDescription",
						"LkpCustomerDescription select(mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate = SelectColumnsWBillToAddress@ModifiedDate,",
						"          ShipToAddressDescription = ShipToAddressLine1,",
						"          BillToAddressDesciption = BillToAddressLine1,",
						"          CustomerDescription = CompanyName",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsWCustomerDescription",
						"SelectColumnsWCustomerDescription alterRow(upsertIf(true())) ~> Upsert",
						"Upsert sink(allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     input(",
						"          SalesOrderID as integer,",
						"          OrderDate as timestamp,",
						"          Status as integer,",
						"          SalesOrderNumber as string,",
						"          PurchaseOrderNumber as string,",
						"          AccountNumber as string,",
						"          CustomerDescription as string,",
						"          ShipToAddressDescription as string,",
						"          BillToAddressDesciption as string,",
						"          ShipMethod as string,",
						"          SubTotal as decimal(19,4),",
						"          TaxAmt as decimal(19,4),",
						"          Freight as decimal(19,4),",
						"          TotalDue as decimal(19,4),",
						"          ModifiedDate as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['SalesOrderID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'allErrors',",
						"     transactionCommit: 'single',",
						"     reportSuccessOnError: false,",
						"     mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          CustomerDescription,",
						"          ShipToAddressDescription,",
						"          BillToAddressDesciption,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate",
						"     )) ~> targetSalesOrderHeader"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_Fixed_Width_Test')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Final df POCs"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DimCustomerAWDW",
								"type": "DatasetReference"
							},
							"name": "srcDimCustomer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "EmailFile",
								"type": "DatasetReference"
							},
							"name": "tgtEmailFile"
						},
						{
							"dataset": {
								"referenceName": "SFTPFixedWidthFile",
								"type": "DatasetReference"
							},
							"name": "tgtSFTPServer"
						}
					],
					"transformations": [
						{
							"name": "SelectColumns"
						},
						{
							"name": "ConcatFields"
						},
						{
							"name": "SelectConcatString"
						},
						{
							"name": "IffNullTrim"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CustomerKey as integer,",
						"          GeographyKey as integer,",
						"          CustomerAlternateKey as string,",
						"          Title as string,",
						"          FirstName as string,",
						"          MiddleName as string,",
						"          LastName as string,",
						"          NameStyle as boolean,",
						"          BirthDate as date,",
						"          MaritalStatus as string,",
						"          Suffix as string,",
						"          Gender as string,",
						"          EmailAddress as string,",
						"          YearlyIncome as decimal(19,4),",
						"          TotalChildren as integer,",
						"          NumberChildrenAtHome as integer,",
						"          EnglishEducation as string,",
						"          SpanishEducation as string,",
						"          FrenchEducation as string,",
						"          EnglishOccupation as string,",
						"          SpanishOccupation as string,",
						"          FrenchOccupation as string,",
						"          HouseOwnerFlag as string,",
						"          NumberCarsOwned as integer,",
						"          AddressLine1 as string,",
						"          AddressLine2 as string,",
						"          Phone as string,",
						"          DateFirstPurchase as date,",
						"          CommuteDistance as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> srcDimCustomer",
						"srcDimCustomer select(mapColumn(",
						"          CustomerAlternateKey,",
						"          Title,",
						"          FirstName,",
						"          MiddleName,",
						"          LastName,",
						"          BirthDate,",
						"          MaritalStatus,",
						"          Suffix,",
						"          Gender,",
						"          TotalChildren,",
						"          EnglishEducation,",
						"          EnglishOccupation,",
						"          HouseOwnerFlag,",
						"          AddressLine1,",
						"          Phone",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumns",
						"IffNullTrim derive(drvConcatAll = concat(rpad(FirstName,15,' '),rpad(MiddleName, 1, ' '),rpad(LastName, 20, ' '),rpad(AddressLine1, 45, ' '),rpad(EnglishEducation, 10, ' '))) ~> ConcatFields",
						"ConcatFields select(mapColumn(",
						"          ConcatAll = drvConcatAll",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectConcatString",
						"SelectColumns derive(FirstName = iifNull(trim(FirstName) ,'' ),",
						"          LastName = iifNull(trim(LastName) ,'' ),",
						"          MiddleName = iifNull(trim(MiddleName) ,'' ),",
						"          AddressLine1 = iifNull(trim(AddressLine1) ,'' ),",
						"          EnglishEducation = iifNull(trim(EnglishEducation) ,'' )) ~> IffNullTrim",
						"SelectConcatString sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['EmailFile'],",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> tgtEmailFile",
						"SelectConcatString sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Column_1 as string",
						"     ),",
						"     partitionFileNames:['FixedWidth.txt'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> tgtSFTPServer"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_Fixed_Width_Test_No_SMTP')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Final df POCs"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DimCustomerAWDW",
								"type": "DatasetReference"
							},
							"name": "srcDimCustomer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Dummy",
								"type": "DatasetReference"
							},
							"name": "tgtDummyOutput"
						},
						{
							"dataset": {
								"referenceName": "EmailFile",
								"type": "DatasetReference"
							},
							"name": "tgtEmailFile"
						}
					],
					"transformations": [
						{
							"name": "SelectColumns"
						},
						{
							"name": "ConcatFields"
						},
						{
							"name": "SelectConcatString"
						},
						{
							"name": "IffNullTrim"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CustomerKey as integer,",
						"          GeographyKey as integer,",
						"          CustomerAlternateKey as string,",
						"          Title as string,",
						"          FirstName as string,",
						"          MiddleName as string,",
						"          LastName as string,",
						"          NameStyle as boolean,",
						"          BirthDate as date,",
						"          MaritalStatus as string,",
						"          Suffix as string,",
						"          Gender as string,",
						"          EmailAddress as string,",
						"          YearlyIncome as decimal(19,4),",
						"          TotalChildren as integer,",
						"          NumberChildrenAtHome as integer,",
						"          EnglishEducation as string,",
						"          SpanishEducation as string,",
						"          FrenchEducation as string,",
						"          EnglishOccupation as string,",
						"          SpanishOccupation as string,",
						"          FrenchOccupation as string,",
						"          HouseOwnerFlag as string,",
						"          NumberCarsOwned as integer,",
						"          AddressLine1 as string,",
						"          AddressLine2 as string,",
						"          Phone as string,",
						"          DateFirstPurchase as date,",
						"          CommuteDistance as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> srcDimCustomer",
						"srcDimCustomer select(mapColumn(",
						"          CustomerAlternateKey,",
						"          Title,",
						"          FirstName,",
						"          MiddleName,",
						"          LastName,",
						"          BirthDate,",
						"          MaritalStatus,",
						"          Suffix,",
						"          Gender,",
						"          TotalChildren,",
						"          EnglishEducation,",
						"          EnglishOccupation,",
						"          HouseOwnerFlag,",
						"          AddressLine1,",
						"          Phone",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumns",
						"IffNullTrim derive(drvConcatAll = concat(rpad(FirstName,15,' '),rpad(MiddleName, 1, ' '),rpad(LastName, 20, ' '),rpad(AddressLine1, 45, ' '),rpad(EnglishEducation, 10, ' '))) ~> ConcatFields",
						"ConcatFields select(mapColumn(",
						"          ConcatAll = drvConcatAll",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectConcatString",
						"SelectColumns derive(FirstName = iifNull(trim(FirstName) ,'' ),",
						"          LastName = iifNull(trim(LastName) ,'' ),",
						"          MiddleName = iifNull(trim(MiddleName) ,'' ),",
						"          AddressLine1 = iifNull(trim(AddressLine1) ,'' ),",
						"          EnglishEducation = iifNull(trim(EnglishEducation) ,'' )) ~> IffNullTrim",
						"SelectConcatString sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Column_1 as string",
						"     ),",
						"     partitionFileNames:['FixedWidthTest.txt'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> tgtDummyOutput",
						"SelectConcatString sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['EmailFile'],",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> tgtEmailFile"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_Lookup_Template_Case')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Final df POCs"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CodeTables",
								"type": "DatasetReference"
							},
							"name": "vwCodeTables"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Dummy1",
								"type": "DatasetReference"
							},
							"name": "DummyFile"
						}
					],
					"transformations": [
						{
							"name": "CaseObjective"
						},
						{
							"name": "CaseStatus"
						},
						{
							"name": "CasePriority"
						},
						{
							"name": "CaseOutcome"
						},
						{
							"name": "CaseClassification"
						},
						{
							"name": "CaseTypeCode"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TABLENAME as string,",
						"          CODE as string,",
						"          DESCRIPTION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> vwCodeTables",
						"vwCodeTables filter(TABLENAME=='CaseObjective') ~> CaseObjective",
						"vwCodeTables filter(TABLENAME=='CaseStatus') ~> CaseStatus",
						"vwCodeTables filter(TABLENAME=='CasePriority') ~> CasePriority",
						"vwCodeTables filter(TABLENAME=='CaseOutcome') ~> CaseOutcome",
						"vwCodeTables filter(TABLENAME=='CaseClassification') ~> CaseClassification",
						"vwCodeTables filter(TABLENAME=='CaseTypeCode') ~> CaseTypeCode",
						"CaseObjective sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Column_1 as string",
						"     ),",
						"     partitionFileNames:['CaseHeaderPOC'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> DummyFile"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_Lookup_Template_POC')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Final df POCs"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CodeTables",
								"type": "DatasetReference"
							},
							"name": "vwCodeTables"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_Dummy_Lookup",
								"type": "DatasetReference"
							},
							"name": "tgtDummyFile"
						}
					],
					"transformations": [
						{
							"name": "ActionPageNameCode"
						},
						{
							"name": "ActivityCategory"
						},
						{
							"name": "AddressCountry"
						},
						{
							"name": "AddressLayoutType"
						},
						{
							"name": "AddressState"
						},
						{
							"name": "AddressType"
						},
						{
							"name": "AddressUSCounty"
						},
						{
							"name": "AdviceParameterType"
						},
						{
							"name": "AESShareSetStatus"
						},
						{
							"name": "AESShareSetType"
						},
						{
							"name": "AllocationStrategyCode"
						},
						{
							"name": "AlternateNameType"
						},
						{
							"name": "ApplicantRole"
						},
						{
							"name": "ApplicantStatus"
						},
						{
							"name": "APPLICATIONCODE"
						},
						{
							"name": "ApplicationCaseStatus"
						},
						{
							"name": "ApplicationChannel"
						},
						{
							"name": "ApplicationFiledByType"
						},
						{
							"name": "ApplicationMethod"
						},
						{
							"name": "ApplicationReassignReason"
						},
						{
							"name": "ApplicationRoleStatus"
						},
						{
							"name": "ApplicationRoleType"
						},
						{
							"name": "ApplicationStatus"
						},
						{
							"name": "ApplicationType"
						},
						{
							"name": "AssessmentDateListType"
						},
						{
							"name": "BranchOfService"
						},
						{
							"name": "CaseAssessmentDetReason"
						},
						{
							"name": "CaseCatTypeCode"
						},
						{
							"name": "CaseClassification"
						},
						{
							"name": "CaseDecisionStatusCode"
						},
						{
							"name": "CaseDeterminationStatus"
						},
						{
							"name": "CaseDeterminationType"
						},
						{
							"name": "CaseDetEvidenceUsed"
						},
						{
							"name": "CaseObjective"
						},
						{
							"name": "CaseOutcome"
						},
						{
							"name": "CaseParticipantRoleType"
						},
						{
							"name": "CasePriority"
						},
						{
							"name": "CaseSnapshoDetReason"
						},
						{
							"name": "CaseStatus"
						},
						{
							"name": "CaseTypeCode"
						},
						{
							"name": "CategoryActionState"
						},
						{
							"name": "CategoryName"
						},
						{
							"name": "CategoryTitle"
						},
						{
							"name": "CIPreferredContact"
						},
						{
							"name": "CIReferralResason"
						},
						{
							"name": "ClassDivisionType"
						},
						{
							"name": "ClientRegistration"
						},
						{
							"name": "CommunicationMethod"
						},
						{
							"name": "CommunicationType"
						},
						{
							"name": "CompanyType"
						},
						{
							"name": "ConcernRoleAlternateID"
						},
						{
							"name": "ConcernRoleStatus"
						},
						{
							"name": "ConcernRoleType"
						},
						{
							"name": "ConstraintType"
						},
						{
							"name": "ContractType"
						},
						{
							"name": "CopayCap"
						},
						{
							"name": "Country"
						},
						{
							"name": "CountyDetailsLinkedType"
						},
						{
							"name": "CoverageEndReason"
						},
						{
							"name": "CoverageType"
						},
						{
							"name": "CreoleValueState"
						},
						{
							"name": "Currency"
						},
						{
							"name": "DADisabilityConditionType"
						},
						{
							"name": "DeterminationCompStrategy"
						},
						{
							"name": "DetIntSummarizerStrategy"
						},
						{
							"name": "DETVersionStatus"
						},
						{
							"name": "EmailType"
						},
						{
							"name": "EthnicOrigin"
						},
						{
							"name": "EvidenceChangeReason"
						},
						{
							"name": "EvidenceDescriptorStatus"
						},
						{
							"name": "EvidenceType"
						},
						{
							"name": "EvMaintenancePattern"
						},
						{
							"name": "ExpectedLengthOfStay"
						},
						{
							"name": "ExpiryDateFrom"
						},
						{
							"name": "FrequencyCode"
						},
						{
							"name": "Gender"
						},
						{
							"name": "GrantorType"
						},
						{
							"name": "IndustryType"
						},
						{
							"name": "IntakeClientType"
						},
						{
							"name": "IntakeProcessDefntnState"
						},
						{
							"name": "IntakeProgApplDenyReason"
						},
						{
							"name": "IntakeProgApplStatus"
						},
						{
							"name": "Language"
						},
						{
							"name": "LevelOfCareType"
						},
						{
							"name": "LiabilityReassessmentType"
						},
						{
							"name": "Locale"
						},
						{
							"name": "LocationStatus"
						},
						{
							"name": "LocationType"
						},
						{
							"name": "MaritalStatus"
						},
						{
							"name": "MedicalInstitutionType"
						},
						{
							"name": "MethodOfApplication"
						},
						{
							"name": "MethodOfDelivery"
						},
						{
							"name": "MilitaryRank"
						},
						{
							"name": "Nationality"
						},
						{
							"name": "OccupationType"
						},
						{
							"name": "OutcomeAchieved"
						},
						{
							"name": "OverUnderPmntProcessing"
						},
						{
							"name": "ParticipantRoleEndReason"
						},
						{
							"name": "PersonTitle"
						},
						{
							"name": "PersonType"
						},
						{
							"name": "PhoneType"
						},
						{
							"name": "PlacedByFiledBy"
						},
						{
							"name": "PlacedByType"
						},
						{
							"name": "POIProgram"
						},
						{
							"name": "PreferredSEMethod"
						},
						{
							"name": "ProductAdminCategory"
						},
						{
							"name": "ProductCategory"
						},
						{
							"name": "ProductCoverPeriod"
						},
						{
							"name": "ProductDeliveryCategory"
						},
						{
							"name": "ProductName"
						},
						{
							"name": "ProductReassessmentStrat"
						},
						{
							"name": "ProductRoundType"
						},
						{
							"name": "ProductType"
						},
						{
							"name": "ProgAppStatusTransReason"
						},
						{
							"name": "ProgGrpDeterminationType"
						},
						{
							"name": "ProgramActionType"
						},
						{
							"name": "ProgramName"
						},
						{
							"name": "ProgramStatus"
						},
						{
							"name": "ProgramStatusReason"
						},
						{
							"name": "ProgramType"
						},
						{
							"name": "ProgRecEligibilityStatus"
						},
						{
							"name": "ProgRecEligibStartDate"
						},
						{
							"name": "ProgRecEvidenceUsed"
						},
						{
							"name": "ProgRecExecutionStatus"
						},
						{
							"name": "PropertyCategory"
						},
						{
							"name": "PropertyType"
						},
						{
							"name": "ProviderCategory"
						},
						{
							"name": "ProviderCategoryEndReason"
						},
						{
							"name": "ProviderStatus"
						},
						{
							"name": "RateCellType"
						},
						{
							"name": "RateColumnType"
						},
						{
							"name": "RateRowType"
						},
						{
							"name": "RateStatus"
						},
						{
							"name": "RateTableType"
						},
						{
							"name": "RecordStatus"
						},
						{
							"name": "ReferralSource"
						},
						{
							"name": "ReimbursementType"
						},
						{
							"name": "RelationshipEndReason"
						},
						{
							"name": "RelationshipTypeCode"
						},
						{
							"name": "RepresentativeType"
						},
						{
							"name": "ReverificationMode"
						},
						{
							"name": "RshipToPolicyholder"
						},
						{
							"name": "SDAssessmentMethod"
						},
						{
							"name": "SDAssessmentReason"
						},
						{
							"name": "SDCalculationRule"
						},
						{
							"name": "SDCREOLECaseDetAction"
						},
						{
							"name": "SDCREOLECaseDetRecStatus"
						},
						{
							"name": "SDCREOLECaseDetStatus"
						},
						{
							"name": "SDIHSCoPayInd"
						},
						{
							"name": "SDMAForcedEligReason"
						},
						{
							"name": "SDMedAidPrgmCatClass"
						},
						{
							"name": "SDPolicyholderRole"
						},
						{
							"name": "SDProdHeirarchyCat"
						},
						{
							"name": "SDRecertificationStatus"
						},
						{
							"name": "SDRegionApplicationType"
						},
						{
							"name": "SDSuspensionReason"
						},
						{
							"name": "SDTribalEnrollmentInd"
						},
						{
							"name": "SDTribeCode"
						},
						{
							"name": "SecretQuestionType"
						},
						{
							"name": "Sensitivity"
						},
						{
							"name": "ServCessReason"
						},
						{
							"name": "ServiceType"
						},
						{
							"name": "SourceOfFund"
						},
						{
							"name": "SpecialInterest"
						},
						{
							"name": "StateCodes"
						},
						{
							"name": "TargetItemType"
						},
						{
							"name": "TaskCategoryCode"
						},
						{
							"name": "TaskChangeType"
						},
						{
							"name": "TaskPriority"
						},
						{
							"name": "TaskStatus"
						},
						{
							"name": "TemplateIDCode"
						},
						{
							"name": "ThirdPartyProductType"
						},
						{
							"name": "TrustCategory"
						},
						{
							"name": "TrusteeType"
						},
						{
							"name": "TrustIncomeType"
						},
						{
							"name": "TrustType"
						},
						{
							"name": "UndueHardshipReason"
						},
						{
							"name": "UnearnedIncomeType"
						},
						{
							"name": "UnearnedRentIncExpType"
						},
						{
							"name": "URATypeAction"
						},
						{
							"name": "UserGrade"
						},
						{
							"name": "UserRecentActionType"
						},
						{
							"name": "UserSearchType"
						},
						{
							"name": "UtahCounties"
						},
						{
							"name": "UtilityExpenseType"
						},
						{
							"name": "UtilityType"
						},
						{
							"name": "VehicleMake"
						},
						{
							"name": "VehicleUsageCode"
						},
						{
							"name": "VerifiableItemName"
						},
						{
							"name": "VerificationCatName"
						},
						{
							"name": "VerificationDueDateFrom"
						},
						{
							"name": "VerificationItemName"
						},
						{
							"name": "VerificationItemType"
						},
						{
							"name": "VerificationItemUsageType"
						},
						{
							"name": "VerificationLevel"
						},
						{
							"name": "VerificationSkippedReason"
						},
						{
							"name": "VerificationStatus"
						},
						{
							"name": "VerificationType"
						},
						{
							"name": "VerReqName"
						},
						{
							"name": "VerReqUsageName"
						},
						{
							"name": "WaiverType"
						},
						{
							"name": "WebAddressType"
						},
						{
							"name": "WorkAllocationFunction"
						},
						{
							"name": "WorkflowDeadlineType"
						},
						{
							"name": "WorkflowHistoryEvent"
						},
						{
							"name": "WorkQueueSubsOrgObjType"
						},
						{
							"name": "XSLTemplateType"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TABLENAME as string,",
						"          CODE as string,",
						"          DESCRIPTION as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> vwCodeTables",
						"vwCodeTables filter(TABLENAME=='ActionPageNameCode') ~> ActionPageNameCode",
						"vwCodeTables filter(TABLENAME=='ActivityCategory') ~> ActivityCategory",
						"vwCodeTables filter(TABLENAME=='AddressCountry') ~> AddressCountry",
						"vwCodeTables filter(TABLENAME=='AddressLayoutType') ~> AddressLayoutType",
						"vwCodeTables filter(TABLENAME=='AddressState') ~> AddressState",
						"vwCodeTables filter(TABLENAME=='AddressType') ~> AddressType",
						"vwCodeTables filter(TABLENAME=='AddressUSCounty') ~> AddressUSCounty",
						"vwCodeTables filter(TABLENAME=='AdviceParameterType') ~> AdviceParameterType",
						"vwCodeTables filter(TABLENAME=='AESShareSetStatus') ~> AESShareSetStatus",
						"vwCodeTables filter(TABLENAME=='AESShareSetType') ~> AESShareSetType",
						"vwCodeTables filter(TABLENAME=='AllocationStrategyCode') ~> AllocationStrategyCode",
						"vwCodeTables filter(TABLENAME=='AlternateNameType') ~> AlternateNameType",
						"vwCodeTables filter(TABLENAME=='ApplicantRole') ~> ApplicantRole",
						"vwCodeTables filter(TABLENAME=='ApplicantStatus') ~> ApplicantStatus",
						"vwCodeTables filter(TABLENAME=='APPLICATION_CODE') ~> APPLICATIONCODE",
						"vwCodeTables filter(TABLENAME=='ApplicationCaseStatus') ~> ApplicationCaseStatus",
						"vwCodeTables filter(TABLENAME=='ApplicationChannel') ~> ApplicationChannel",
						"vwCodeTables filter(TABLENAME=='ApplicationFiledByType') ~> ApplicationFiledByType",
						"vwCodeTables filter(TABLENAME=='ApplicationMethod') ~> ApplicationMethod",
						"vwCodeTables filter(TABLENAME=='ApplicationReassignReason') ~> ApplicationReassignReason",
						"vwCodeTables filter(TABLENAME=='ApplicationRoleStatus') ~> ApplicationRoleStatus",
						"vwCodeTables filter(TABLENAME=='ApplicationRoleType') ~> ApplicationRoleType",
						"vwCodeTables filter(TABLENAME=='ApplicationStatus') ~> ApplicationStatus",
						"vwCodeTables filter(TABLENAME=='ApplicationType') ~> ApplicationType",
						"vwCodeTables filter(TABLENAME=='AssessmentDateListType') ~> AssessmentDateListType",
						"vwCodeTables filter(TABLENAME=='BranchOfService') ~> BranchOfService",
						"vwCodeTables filter(TABLENAME=='CaseAssessmentDetReason') ~> CaseAssessmentDetReason",
						"vwCodeTables filter(TABLENAME=='CaseCatTypeCode') ~> CaseCatTypeCode",
						"vwCodeTables filter(TABLENAME=='CaseClassification') ~> CaseClassification",
						"vwCodeTables filter(TABLENAME=='CaseDecisionStatusCode') ~> CaseDecisionStatusCode",
						"vwCodeTables filter(TABLENAME=='CaseDeterminationStatus') ~> CaseDeterminationStatus",
						"vwCodeTables filter(TABLENAME=='CaseDeterminationType') ~> CaseDeterminationType",
						"vwCodeTables filter(TABLENAME=='CaseDetEvidenceUsed') ~> CaseDetEvidenceUsed",
						"vwCodeTables filter(TABLENAME=='CaseObjective') ~> CaseObjective",
						"vwCodeTables filter(TABLENAME=='CaseOutcome') ~> CaseOutcome",
						"vwCodeTables filter(TABLENAME=='CaseParticipantRoleType') ~> CaseParticipantRoleType",
						"vwCodeTables filter(TABLENAME=='CasePriority') ~> CasePriority",
						"vwCodeTables filter(TABLENAME=='CaseSnapshoDetReason') ~> CaseSnapshoDetReason",
						"vwCodeTables filter(TABLENAME=='CaseStatus') ~> CaseStatus",
						"vwCodeTables filter(TABLENAME=='CaseTypeCode') ~> CaseTypeCode",
						"vwCodeTables filter(TABLENAME=='CategoryActionState') ~> CategoryActionState",
						"vwCodeTables filter(TABLENAME=='CategoryName') ~> CategoryName",
						"vwCodeTables filter(TABLENAME=='CategoryTitle') ~> CategoryTitle",
						"vwCodeTables filter(TABLENAME=='CIPreferredContact') ~> CIPreferredContact",
						"vwCodeTables filter(TABLENAME=='CIReferralResason') ~> CIReferralResason",
						"vwCodeTables filter(TABLENAME=='ClassDivisionType') ~> ClassDivisionType",
						"vwCodeTables filter(TABLENAME=='ClientRegistration') ~> ClientRegistration",
						"vwCodeTables filter(TABLENAME=='CommunicationMethod') ~> CommunicationMethod",
						"vwCodeTables filter(TABLENAME=='CommunicationType') ~> CommunicationType",
						"vwCodeTables filter(TABLENAME=='CompanyType') ~> CompanyType",
						"vwCodeTables filter(TABLENAME=='ConcernRoleAlternateID') ~> ConcernRoleAlternateID",
						"vwCodeTables filter(TABLENAME=='ConcernRoleStatus') ~> ConcernRoleStatus",
						"vwCodeTables filter(TABLENAME=='ConcernRoleType') ~> ConcernRoleType",
						"vwCodeTables filter(TABLENAME=='ConstraintType') ~> ConstraintType",
						"vwCodeTables filter(TABLENAME=='ContractType') ~> ContractType",
						"vwCodeTables filter(TABLENAME=='CopayCap') ~> CopayCap",
						"vwCodeTables filter(TABLENAME=='Country') ~> Country",
						"vwCodeTables filter(TABLENAME=='CountyDetailsLinkedType') ~> CountyDetailsLinkedType",
						"vwCodeTables filter(TABLENAME=='CoverageEndReason') ~> CoverageEndReason",
						"vwCodeTables filter(TABLENAME=='CoverageType') ~> CoverageType",
						"vwCodeTables filter(TABLENAME=='CreoleValueState') ~> CreoleValueState",
						"vwCodeTables filter(TABLENAME=='Currency') ~> Currency",
						"vwCodeTables filter(TABLENAME=='DADisabilityConditionType') ~> DADisabilityConditionType",
						"vwCodeTables filter(TABLENAME=='DeterminationCompStrategy') ~> DeterminationCompStrategy",
						"vwCodeTables filter(TABLENAME=='DetIntSummarizerStrategy') ~> DetIntSummarizerStrategy",
						"vwCodeTables filter(TABLENAME=='DETVersionStatus') ~> DETVersionStatus",
						"vwCodeTables filter(TABLENAME=='EmailType') ~> EmailType",
						"vwCodeTables filter(TABLENAME=='EthnicOrigin') ~> EthnicOrigin",
						"vwCodeTables filter(TABLENAME=='EvidenceChangeReason') ~> EvidenceChangeReason",
						"vwCodeTables filter(TABLENAME=='EvidenceDescriptorStatus') ~> EvidenceDescriptorStatus",
						"vwCodeTables filter(TABLENAME=='EvidenceType') ~> EvidenceType",
						"vwCodeTables filter(TABLENAME=='EvMaintenancePattern') ~> EvMaintenancePattern",
						"vwCodeTables filter(TABLENAME=='ExpectedLengthOfStay') ~> ExpectedLengthOfStay",
						"vwCodeTables filter(TABLENAME=='ExpiryDateFrom') ~> ExpiryDateFrom",
						"vwCodeTables filter(TABLENAME=='FrequencyCode') ~> FrequencyCode",
						"vwCodeTables filter(TABLENAME=='Gender') ~> Gender",
						"vwCodeTables filter(TABLENAME=='GrantorType') ~> GrantorType",
						"vwCodeTables filter(TABLENAME=='IndustryType') ~> IndustryType",
						"vwCodeTables filter(TABLENAME=='IntakeClientType') ~> IntakeClientType",
						"vwCodeTables filter(TABLENAME=='IntakeProcessDefntnState') ~> IntakeProcessDefntnState",
						"vwCodeTables filter(TABLENAME=='IntakeProgApplDenyReason') ~> IntakeProgApplDenyReason",
						"vwCodeTables filter(TABLENAME=='IntakeProgApplStatus') ~> IntakeProgApplStatus",
						"vwCodeTables filter(TABLENAME=='Language') ~> Language",
						"vwCodeTables filter(TABLENAME=='LevelOfCareType') ~> LevelOfCareType",
						"vwCodeTables filter(TABLENAME=='LiabilityReassessmentType') ~> LiabilityReassessmentType",
						"vwCodeTables filter(TABLENAME=='Locale') ~> Locale",
						"vwCodeTables filter(TABLENAME=='LocationStatus') ~> LocationStatus",
						"vwCodeTables filter(TABLENAME=='LocationType') ~> LocationType",
						"vwCodeTables filter(TABLENAME=='MaritalStatus') ~> MaritalStatus",
						"vwCodeTables filter(TABLENAME=='MedicalInstitutionType') ~> MedicalInstitutionType",
						"vwCodeTables filter(TABLENAME=='MethodOfApplication') ~> MethodOfApplication",
						"vwCodeTables filter(TABLENAME=='MethodOfDelivery') ~> MethodOfDelivery",
						"vwCodeTables filter(TABLENAME=='MilitaryRank') ~> MilitaryRank",
						"vwCodeTables filter(TABLENAME=='Nationality') ~> Nationality",
						"vwCodeTables filter(TABLENAME=='OccupationType') ~> OccupationType",
						"vwCodeTables filter(TABLENAME=='OutcomeAchieved') ~> OutcomeAchieved",
						"vwCodeTables filter(TABLENAME=='OverUnderPmntProcessing') ~> OverUnderPmntProcessing",
						"vwCodeTables filter(TABLENAME=='ParticipantRoleEndReason') ~> ParticipantRoleEndReason",
						"vwCodeTables filter(TABLENAME=='PersonTitle') ~> PersonTitle",
						"vwCodeTables filter(TABLENAME=='PersonType') ~> PersonType",
						"vwCodeTables filter(TABLENAME=='PhoneType') ~> PhoneType",
						"vwCodeTables filter(TABLENAME=='PlacedByFiledBy') ~> PlacedByFiledBy",
						"vwCodeTables filter(TABLENAME=='PlacedByType') ~> PlacedByType",
						"vwCodeTables filter(TABLENAME=='POIProgram') ~> POIProgram",
						"vwCodeTables filter(TABLENAME=='PreferredSEMethod') ~> PreferredSEMethod",
						"vwCodeTables filter(TABLENAME=='ProductAdminCategory') ~> ProductAdminCategory",
						"vwCodeTables filter(TABLENAME=='ProductCategory') ~> ProductCategory",
						"vwCodeTables filter(TABLENAME=='ProductCoverPeriod') ~> ProductCoverPeriod",
						"vwCodeTables filter(TABLENAME=='ProductDeliveryCategory') ~> ProductDeliveryCategory",
						"vwCodeTables filter(TABLENAME=='ProductName') ~> ProductName",
						"vwCodeTables filter(TABLENAME=='ProductReassessmentStrat') ~> ProductReassessmentStrat",
						"vwCodeTables filter(TABLENAME=='ProductRoundType') ~> ProductRoundType",
						"vwCodeTables filter(TABLENAME=='ProductType') ~> ProductType",
						"vwCodeTables filter(TABLENAME=='ProgAppStatusTransReason') ~> ProgAppStatusTransReason",
						"vwCodeTables filter(TABLENAME=='ProgGrpDeterminationType') ~> ProgGrpDeterminationType",
						"vwCodeTables filter(TABLENAME=='ProgramActionType') ~> ProgramActionType",
						"vwCodeTables filter(TABLENAME=='ProgramName') ~> ProgramName",
						"vwCodeTables filter(TABLENAME=='ProgramStatus') ~> ProgramStatus",
						"vwCodeTables filter(TABLENAME=='ProgramStatusReason') ~> ProgramStatusReason",
						"vwCodeTables filter(TABLENAME=='ProgramType') ~> ProgramType",
						"vwCodeTables filter(TABLENAME=='ProgRecEligibilityStatus') ~> ProgRecEligibilityStatus",
						"vwCodeTables filter(TABLENAME=='ProgRecEligibStartDate') ~> ProgRecEligibStartDate",
						"vwCodeTables filter(TABLENAME=='ProgRecEvidenceUsed') ~> ProgRecEvidenceUsed",
						"vwCodeTables filter(TABLENAME=='ProgRecExecutionStatus') ~> ProgRecExecutionStatus",
						"vwCodeTables filter(TABLENAME=='PropertyCategory') ~> PropertyCategory",
						"vwCodeTables filter(TABLENAME=='PropertyType') ~> PropertyType",
						"vwCodeTables filter(TABLENAME=='ProviderCategory') ~> ProviderCategory",
						"vwCodeTables filter(TABLENAME=='ProviderCategoryEndReason') ~> ProviderCategoryEndReason",
						"vwCodeTables filter(TABLENAME=='ProviderStatus') ~> ProviderStatus",
						"vwCodeTables filter(TABLENAME=='RateCellType') ~> RateCellType",
						"vwCodeTables filter(TABLENAME=='RateColumnType') ~> RateColumnType",
						"vwCodeTables filter(TABLENAME=='RateRowType') ~> RateRowType",
						"vwCodeTables filter(TABLENAME=='RateStatus') ~> RateStatus",
						"vwCodeTables filter(TABLENAME=='RateTableType') ~> RateTableType",
						"vwCodeTables filter(TABLENAME=='RecordStatus') ~> RecordStatus",
						"vwCodeTables filter(TABLENAME=='ReferralSource') ~> ReferralSource",
						"vwCodeTables filter(TABLENAME=='ReimbursementType') ~> ReimbursementType",
						"vwCodeTables filter(TABLENAME=='RelationshipEndReason') ~> RelationshipEndReason",
						"vwCodeTables filter(TABLENAME=='RelationshipTypeCode') ~> RelationshipTypeCode",
						"vwCodeTables filter(TABLENAME=='RepresentativeType') ~> RepresentativeType",
						"vwCodeTables filter(TABLENAME=='ReverificationMode') ~> ReverificationMode",
						"vwCodeTables filter(TABLENAME=='RshipToPolicyholder') ~> RshipToPolicyholder",
						"vwCodeTables filter(TABLENAME=='SDAssessmentMethod') ~> SDAssessmentMethod",
						"vwCodeTables filter(TABLENAME=='SDAssessmentReason') ~> SDAssessmentReason",
						"vwCodeTables filter(TABLENAME=='SDCalculationRule') ~> SDCalculationRule",
						"vwCodeTables filter(TABLENAME=='SDCREOLECaseDetAction') ~> SDCREOLECaseDetAction",
						"vwCodeTables filter(TABLENAME=='SDCREOLECaseDetRecStatus') ~> SDCREOLECaseDetRecStatus",
						"vwCodeTables filter(TABLENAME=='SDCREOLECaseDetStatus') ~> SDCREOLECaseDetStatus",
						"vwCodeTables filter(TABLENAME=='SDIHSCoPayInd') ~> SDIHSCoPayInd",
						"vwCodeTables filter(TABLENAME=='SDMAForcedEligReason') ~> SDMAForcedEligReason",
						"vwCodeTables filter(TABLENAME=='SDMedAidPrgmCatClass') ~> SDMedAidPrgmCatClass",
						"vwCodeTables filter(TABLENAME=='SDPolicyholderRole') ~> SDPolicyholderRole",
						"vwCodeTables filter(TABLENAME=='SDProdHeirarchyCat') ~> SDProdHeirarchyCat",
						"vwCodeTables filter(TABLENAME=='SDRecertificationStatus') ~> SDRecertificationStatus",
						"vwCodeTables filter(TABLENAME=='SDRegionApplicationType') ~> SDRegionApplicationType",
						"vwCodeTables filter(TABLENAME=='SDSuspensionReason') ~> SDSuspensionReason",
						"vwCodeTables filter(TABLENAME=='SDTribalEnrollmentInd') ~> SDTribalEnrollmentInd",
						"vwCodeTables filter(TABLENAME=='SDTribeCode') ~> SDTribeCode",
						"vwCodeTables filter(TABLENAME=='SecretQuestionType') ~> SecretQuestionType",
						"vwCodeTables filter(TABLENAME=='Sensitivity') ~> Sensitivity",
						"vwCodeTables filter(TABLENAME=='ServCessReason') ~> ServCessReason",
						"vwCodeTables filter(TABLENAME=='ServiceType') ~> ServiceType",
						"vwCodeTables filter(TABLENAME=='SourceOfFund') ~> SourceOfFund",
						"vwCodeTables filter(TABLENAME=='SpecialInterest') ~> SpecialInterest",
						"vwCodeTables filter(TABLENAME=='StateCodes') ~> StateCodes",
						"vwCodeTables filter(TABLENAME=='TargetItemType') ~> TargetItemType",
						"vwCodeTables filter(TABLENAME=='TaskCategoryCode') ~> TaskCategoryCode",
						"vwCodeTables filter(TABLENAME=='TaskChangeType') ~> TaskChangeType",
						"vwCodeTables filter(TABLENAME=='TaskPriority') ~> TaskPriority",
						"vwCodeTables filter(TABLENAME=='TaskStatus') ~> TaskStatus",
						"vwCodeTables filter(TABLENAME=='TemplateIDCode') ~> TemplateIDCode",
						"vwCodeTables filter(TABLENAME=='ThirdPartyProductType') ~> ThirdPartyProductType",
						"vwCodeTables filter(TABLENAME=='TrustCategory') ~> TrustCategory",
						"vwCodeTables filter(TABLENAME=='TrusteeType') ~> TrusteeType",
						"vwCodeTables filter(TABLENAME=='TrustIncomeType') ~> TrustIncomeType",
						"vwCodeTables filter(TABLENAME=='TrustType') ~> TrustType",
						"vwCodeTables filter(TABLENAME=='UndueHardshipReason') ~> UndueHardshipReason",
						"vwCodeTables filter(TABLENAME=='UnearnedIncomeType') ~> UnearnedIncomeType",
						"vwCodeTables filter(TABLENAME=='UnearnedRentIncExpType') ~> UnearnedRentIncExpType",
						"vwCodeTables filter(TABLENAME=='URATypeAction') ~> URATypeAction",
						"vwCodeTables filter(TABLENAME=='UserGrade') ~> UserGrade",
						"vwCodeTables filter(TABLENAME=='UserRecentActionType') ~> UserRecentActionType",
						"vwCodeTables filter(TABLENAME=='UserSearchType') ~> UserSearchType",
						"vwCodeTables filter(TABLENAME=='UtahCounties') ~> UtahCounties",
						"vwCodeTables filter(TABLENAME=='UtilityExpenseType') ~> UtilityExpenseType",
						"vwCodeTables filter(TABLENAME=='UtilityType') ~> UtilityType",
						"vwCodeTables filter(TABLENAME=='VehicleMake') ~> VehicleMake",
						"vwCodeTables filter(TABLENAME=='VehicleUsageCode') ~> VehicleUsageCode",
						"vwCodeTables filter(TABLENAME=='VerifiableItemName') ~> VerifiableItemName",
						"vwCodeTables filter(TABLENAME=='VerificationCatName') ~> VerificationCatName",
						"vwCodeTables filter(TABLENAME=='VerificationDueDateFrom') ~> VerificationDueDateFrom",
						"vwCodeTables filter(TABLENAME=='VerificationItemName') ~> VerificationItemName",
						"vwCodeTables filter(TABLENAME=='VerificationItemType') ~> VerificationItemType",
						"vwCodeTables filter(TABLENAME=='VerificationItemUsageType') ~> VerificationItemUsageType",
						"vwCodeTables filter(TABLENAME=='VerificationLevel') ~> VerificationLevel",
						"vwCodeTables filter(TABLENAME=='VerificationSkippedReason') ~> VerificationSkippedReason",
						"vwCodeTables filter(TABLENAME=='VerificationStatus') ~> VerificationStatus",
						"vwCodeTables filter(TABLENAME=='VerificationType') ~> VerificationType",
						"vwCodeTables filter(TABLENAME=='VerReqName') ~> VerReqName",
						"vwCodeTables filter(TABLENAME=='VerReqUsageName') ~> VerReqUsageName",
						"vwCodeTables filter(TABLENAME=='WaiverType') ~> WaiverType",
						"vwCodeTables filter(TABLENAME=='WebAddressType') ~> WebAddressType",
						"vwCodeTables filter(TABLENAME=='WorkAllocationFunction') ~> WorkAllocationFunction",
						"vwCodeTables filter(TABLENAME=='WorkflowDeadlineType') ~> WorkflowDeadlineType",
						"vwCodeTables filter(TABLENAME=='WorkflowHistoryEvent') ~> WorkflowHistoryEvent",
						"vwCodeTables filter(TABLENAME=='WorkQueueSubsOrgObjType') ~> WorkQueueSubsOrgObjType",
						"vwCodeTables filter(TABLENAME=='XSLTemplateType') ~> XSLTemplateType",
						"ActionPageNameCode sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Column_1 as string,",
						"          Column_2 as string,",
						"          Column_3 as string,",
						"          Column_4 as string,",
						"          Column_5 as string,",
						"          Column_6 as string",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> tgtDummyFile"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_RptToStage')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Staging"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "db2DynamicSource",
								"type": "DatasetReference"
							},
							"name": "RptDB"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "stgDynamicTarget",
								"type": "DatasetReference"
							},
							"name": "StgDB"
						}
					],
					"transformations": [
						{
							"name": "Upsert"
						}
					],
					"scriptLines": [
						"parameters{",
						"     TableName as string,",
						"     SchemaName as string,",
						"     UniqueID as string",
						"}",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     waterMarkColumn: 'LastWritten',",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table',",
						"     mode: 'read') ~> RptDB",
						"RptDB alterRow(upsertIf(true())) ~> Upsert",
						"Upsert sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:[($UniqueID)],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> StgDB"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_SCD1_Example')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Facts"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "reportingSalesOrderHeader",
								"type": "DatasetReference"
							},
							"name": "reportingSalesOrderHeader"
						},
						{
							"dataset": {
								"referenceName": "DimAddress",
								"type": "DatasetReference"
							},
							"name": "DimAddress"
						},
						{
							"dataset": {
								"referenceName": "DimCustomer",
								"type": "DatasetReference"
							},
							"name": "DimCustomer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "target_SalesOrderHeader_wDate",
								"type": "DatasetReference"
							},
							"name": "targetSalesOrders"
						}
					],
					"transformations": [
						{
							"name": "SelectColumnsWShipToDescription"
						},
						{
							"name": "LkpShipToAddress"
						},
						{
							"name": "Upsert"
						},
						{
							"name": "LkpCustomerDescip"
						},
						{
							"name": "SelectColumnWCustDescrip"
						},
						{
							"name": "LkpBillToAddressDescr"
						},
						{
							"name": "SelectColumnsWBillToDescr"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SalesOrderID as integer,",
						"          RevisionNumber as integer,",
						"          OrderDate as timestamp,",
						"          DueDate as timestamp,",
						"          ShipDate as timestamp,",
						"          Status as integer,",
						"          OnlineOrderFlag as boolean,",
						"          SalesOrderNumber as string,",
						"          PurchaseOrderNumber as string,",
						"          AccountNumber as string,",
						"          CustomerID as integer,",
						"          ShipToAddressID as integer,",
						"          BillToAddressID as integer,",
						"          ShipMethod as string,",
						"          CreditCardApprovalCode as string,",
						"          SubTotal as decimal(19,4),",
						"          TaxAmt as decimal(19,4),",
						"          Freight as decimal(19,4),",
						"          TotalDue as decimal(19,4),",
						"          Comment as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     waterMarkColumn: 'ModifiedDate',",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table',",
						"     mode: 'read') ~> reportingSalesOrderHeader",
						"source(output(",
						"          AddressID as integer,",
						"          AddressLine1 as string,",
						"          AddressLine2 as string,",
						"          City as string,",
						"          StateProvince as string,",
						"          CountryRegion as string,",
						"          PostalCode as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimAddress",
						"source(output(",
						"          CustomerID as integer,",
						"          NameStyle as boolean,",
						"          Title as string,",
						"          FirstName as string,",
						"          MiddleName as string,",
						"          LastName as string,",
						"          Suffix as string,",
						"          CompanyName as string,",
						"          SalesPerson as string,",
						"          EmailAddress as string,",
						"          Phone as string,",
						"          PasswordHash as string,",
						"          PasswordSalt as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimCustomer",
						"LkpShipToAddress select(mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate = reportingSalesOrderHeader@ModifiedDate,",
						"          ShipToAddressDesscription = AddressLine1,",
						"          CustomerID,",
						"          BillToAddressID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsWShipToDescription",
						"reportingSalesOrderHeader, DimAddress lookup(ShipToAddressID == AddressID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LkpShipToAddress",
						"SelectColumnsWBillToDescr alterRow(upsertIf(true())) ~> Upsert",
						"SelectColumnsWShipToDescription, DimCustomer lookup(SelectColumnsWShipToDescription@CustomerID == DimCustomer@CustomerID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LkpCustomerDescip",
						"LkpCustomerDescip select(mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate = SelectColumnsWShipToDescription@ModifiedDate,",
						"          ShipToAddressDesscription,",
						"          CustomerDescription = CompanyName,",
						"          ModifiedDate = DimCustomer@ModifiedDate,",
						"          BillToAddressID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnWCustDescrip",
						"SelectColumnWCustDescrip, DimAddress lookup(BillToAddressID == AddressID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LkpBillToAddressDescr",
						"LkpBillToAddressDescr select(mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate = SelectColumnWCustDescrip@ModifiedDate,",
						"          ShipToAddressDesscription,",
						"          BillToAddressDesciption = AddressLine1,",
						"          CustomerDescription",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsWBillToDescr",
						"Upsert sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          SalesOrderID as integer,",
						"          OrderDate as timestamp,",
						"          Status as integer,",
						"          SalesOrderNumber as string,",
						"          PurchaseOrderNumber as string,",
						"          AccountNumber as string,",
						"          CustomerDescription as string,",
						"          ShipToAddressDescription as string,",
						"          BillToAddressDesciption as string,",
						"          ShipMethod as string,",
						"          SubTotal as decimal(19,4),",
						"          TaxAmt as decimal(19,4),",
						"          Freight as decimal(19,4),",
						"          TotalDue as decimal(19,4),",
						"          ModifiedDate as timestamp,",
						"          CreatedDate as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['SalesOrderID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate,",
						"          ShipToAddressDescription = ShipToAddressDesscription,",
						"          CustomerDescription,",
						"          BillToAddressDesciption",
						"     )) ~> targetSalesOrders"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_SCD1_Example_NoCDC')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Facts"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "reportingSalesOrderHeader",
								"type": "DatasetReference"
							},
							"name": "reportingSalesOrderHeader"
						},
						{
							"dataset": {
								"referenceName": "DimAddress",
								"type": "DatasetReference"
							},
							"name": "DimAddress"
						},
						{
							"dataset": {
								"referenceName": "DimCustomer",
								"type": "DatasetReference"
							},
							"name": "DimCustomer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "target_SalesOrderHeader_wDate",
								"type": "DatasetReference"
							},
							"name": "targetSalesOrders"
						}
					],
					"transformations": [
						{
							"name": "SelectColumnsWShipToDescription"
						},
						{
							"name": "LkpShipToAddress"
						},
						{
							"name": "Upsert"
						},
						{
							"name": "LkpCustomerDescip"
						},
						{
							"name": "SelectColumnWCustDescrip"
						},
						{
							"name": "LkpBillToAddressDescr"
						},
						{
							"name": "SelectColumnsWBillToDescr"
						}
					],
					"scriptLines": [
						"source(output(",
						"          SalesOrderID as integer,",
						"          RevisionNumber as integer,",
						"          OrderDate as timestamp,",
						"          DueDate as timestamp,",
						"          ShipDate as timestamp,",
						"          Status as integer,",
						"          OnlineOrderFlag as boolean,",
						"          SalesOrderNumber as string,",
						"          PurchaseOrderNumber as string,",
						"          AccountNumber as string,",
						"          CustomerID as integer,",
						"          ShipToAddressID as integer,",
						"          BillToAddressID as integer,",
						"          ShipMethod as string,",
						"          CreditCardApprovalCode as string,",
						"          SubTotal as decimal(19,4),",
						"          TaxAmt as decimal(19,4),",
						"          Freight as decimal(19,4),",
						"          TotalDue as decimal(19,4),",
						"          Comment as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     waterMarkColumn: 'ModifiedDate',",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table',",
						"     mode: 'read') ~> reportingSalesOrderHeader",
						"source(output(",
						"          AddressID as integer,",
						"          AddressLine1 as string,",
						"          AddressLine2 as string,",
						"          City as string,",
						"          StateProvince as string,",
						"          CountryRegion as string,",
						"          PostalCode as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimAddress",
						"source(output(",
						"          CustomerID as integer,",
						"          NameStyle as boolean,",
						"          Title as string,",
						"          FirstName as string,",
						"          MiddleName as string,",
						"          LastName as string,",
						"          Suffix as string,",
						"          CompanyName as string,",
						"          SalesPerson as string,",
						"          EmailAddress as string,",
						"          Phone as string,",
						"          PasswordHash as string,",
						"          PasswordSalt as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimCustomer",
						"LkpShipToAddress select(mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate = reportingSalesOrderHeader@ModifiedDate,",
						"          ShipToAddressDesscription = AddressLine1,",
						"          CustomerID,",
						"          BillToAddressID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsWShipToDescription",
						"reportingSalesOrderHeader, DimAddress lookup(ShipToAddressID == AddressID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LkpShipToAddress",
						"SelectColumnsWBillToDescr alterRow(upsertIf(true())) ~> Upsert",
						"SelectColumnsWShipToDescription, DimCustomer lookup(SelectColumnsWShipToDescription@CustomerID == DimCustomer@CustomerID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LkpCustomerDescip",
						"LkpCustomerDescip select(mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate = SelectColumnsWShipToDescription@ModifiedDate,",
						"          ShipToAddressDesscription,",
						"          CustomerDescription = CompanyName,",
						"          ModifiedDate = DimCustomer@ModifiedDate,",
						"          BillToAddressID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnWCustDescrip",
						"SelectColumnWCustDescrip, DimAddress lookup(BillToAddressID == AddressID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LkpBillToAddressDescr",
						"LkpBillToAddressDescr select(mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate = SelectColumnWCustDescrip@ModifiedDate,",
						"          ShipToAddressDesscription,",
						"          BillToAddressDesciption = AddressLine1,",
						"          CustomerDescription",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumnsWBillToDescr",
						"Upsert sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          SalesOrderID as integer,",
						"          OrderDate as timestamp,",
						"          Status as integer,",
						"          SalesOrderNumber as string,",
						"          PurchaseOrderNumber as string,",
						"          AccountNumber as string,",
						"          CustomerDescription as string,",
						"          ShipToAddressDescription as string,",
						"          BillToAddressDesciption as string,",
						"          ShipMethod as string,",
						"          SubTotal as decimal(19,4),",
						"          TaxAmt as decimal(19,4),",
						"          Freight as decimal(19,4),",
						"          TotalDue as decimal(19,4),",
						"          ModifiedDate as timestamp,",
						"          CreatedDate as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['SalesOrderID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          SalesOrderID,",
						"          OrderDate,",
						"          Status,",
						"          SalesOrderNumber,",
						"          PurchaseOrderNumber,",
						"          AccountNumber,",
						"          ShipMethod,",
						"          SubTotal,",
						"          TaxAmt,",
						"          Freight,",
						"          TotalDue,",
						"          ModifiedDate,",
						"          ShipToAddressDescription = ShipToAddressDesscription,",
						"          CustomerDescription,",
						"          BillToAddressDesciption",
						"     )) ~> targetSalesOrders"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_SCD2_Example')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Dimensions"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "TestDataForEmployee",
								"type": "DatasetReference"
							},
							"name": "srcEmployee"
						},
						{
							"dataset": {
								"referenceName": "TestDataForEmployeeDim",
								"type": "DatasetReference"
							},
							"name": "srcEmployeeDim"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TestDataForEmployeeDim",
								"type": "DatasetReference"
							},
							"name": "SinkEmployeeDimInsert"
						},
						{
							"dataset": {
								"referenceName": "TestDataForEmployeeDim",
								"type": "DatasetReference"
							},
							"name": "SinkEmployeeDimUpdate"
						}
					],
					"transformations": [
						{
							"name": "HASHInput"
						},
						{
							"name": "HASHRef"
						},
						{
							"name": "SetToActive"
						},
						{
							"name": "ExistsCheckforUpdates"
						},
						{
							"name": "ExistsCheckforObsolete"
						},
						{
							"name": "SetToInActive"
						},
						{
							"name": "AlterRow1"
						},
						{
							"name": "SelectColumns"
						},
						{
							"name": "FilterForTesting"
						}
					],
					"script": "source(output(\n\t\tEmpID as short,\n\t\tFirstName as string,\n\t\tLastName as string,\n\t\tMiddleName as string,\n\t\tTitle as string,\n\t\tHireDate as date,\n\t\tBirthDate as date,\n\t\tPhone as string,\n\t\tMaritalStatus as string,\n\t\tEmergencyContactName as string,\n\t\tEmergencyContactPhone as string,\n\t\tSalariedFlag as boolean,\n\t\tGender as string,\n\t\tDepartmentName as string,\n\t\tStartDate as date,\n\t\tEndDate as string,\n\t\tStatus as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table',\n\twildcardPaths:['2021/*.csv']) ~> srcEmployee\nsource(output(\n\t\tEmployeeKey as integer,\n\t\tEmpID as short,\n\t\tFirstName as string,\n\t\tLastName as string,\n\t\tMiddleName as string,\n\t\tTitle as string,\n\t\tHireDate as date,\n\t\tBirthDate as date,\n\t\tPhone as string,\n\t\tMaritalStatus as string,\n\t\tEmergencyContactName as string,\n\t\tEmergencyContactPhone as string,\n\t\tSalariedFlag as boolean,\n\t\tGender as string,\n\t\tDepartmentName as string,\n\t\tStartDate as date,\n\t\tEndDate as string,\n\t\tStatus as string,\n\t\tIsActive as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> srcEmployeeDim\nSelectColumns derive(inputhash = md5(EmpID,LastName,Title,Phone,MaritalStatus,SalariedFlag,DepartmentName)) ~> HASHInput\nsrcEmployeeDim derive(sqlhash = md5(EmpID,LastName,Title,Phone,MaritalStatus,SalariedFlag,DepartmentName)) ~> HASHRef\nExistsCheckforUpdates derive(IsActive = 1,\n\t\tEndDate = toDate('9999-12-31')) ~> SetToActive\nHASHInput, HASHRef exists(inputhash == sqlhash,\n\tnegate:true,\n\tbroadcast: 'auto')~> ExistsCheckforUpdates\nHASHRef, SetToActive exists(srcEmployeeDim@EmpID == SelectColumns@EmpID,\n\tnegate:false,\n\tbroadcast: 'auto')~> ExistsCheckforObsolete\nExistsCheckforObsolete derive(EndDate = toDate(currentUTC()),\n\t\tIsActive = 0,\n\t\tStatus = 'Termed') ~> SetToInActive\nSetToInActive alterRow(updateIf(true())) ~> AlterRow1\nFilterForTesting select(mapColumn(\n\t\tEmpID,\n\t\tFirstName,\n\t\tLastName,\n\t\tMiddleName,\n\t\tTitle,\n\t\tHireDate,\n\t\tBirthDate,\n\t\tPhone,\n\t\tMaritalStatus,\n\t\tEmergencyContactName,\n\t\tEmergencyContactPhone,\n\t\tSalariedFlag,\n\t\tGender,\n\t\tDepartmentName,\n\t\tStartDate,\n\t\tEndDate,\n\t\tStatus\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectColumns\nsrcEmployee filter(EmpID ==1002) ~> FilterForTesting\nSetToActive sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tEmpID,\n\t\tFirstName,\n\t\tLastName,\n\t\tMiddleName,\n\t\tTitle,\n\t\tHireDate,\n\t\tBirthDate,\n\t\tPhone,\n\t\tMaritalStatus,\n\t\tEmergencyContactName,\n\t\tEmergencyContactPhone,\n\t\tSalariedFlag,\n\t\tGender,\n\t\tDepartmentName,\n\t\tStartDate,\n\t\tEndDate,\n\t\tStatus,\n\t\tIsActive\n\t)) ~> SinkEmployeeDimInsert\nAlterRow1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:true,\n\tupsertable:false,\n\tkeys:['EmployeeKey'],\n\tskipKeyWrites:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tEmployeeKey,\n\t\tEmpID,\n\t\tFirstName,\n\t\tLastName,\n\t\tMiddleName,\n\t\tTitle,\n\t\tHireDate,\n\t\tBirthDate,\n\t\tPhone,\n\t\tMaritalStatus,\n\t\tEmergencyContactName,\n\t\tEmergencyContactPhone,\n\t\tSalariedFlag,\n\t\tGender,\n\t\tDepartmentName,\n\t\tStartDate,\n\t\tEndDate,\n\t\tStatus,\n\t\tIsActive\n\t)) ~> SinkEmployeeDimUpdate"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_Simple_Error_Handling_POC')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Final df POCs"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DimAddress",
								"type": "DatasetReference"
							},
							"name": "srcAddress"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "rowswritten",
								"type": "DatasetReference"
							},
							"name": "tgtErrors"
						},
						{
							"dataset": {
								"referenceName": "rowswritten",
								"type": "DatasetReference"
							},
							"name": "tgtValidRows"
						}
					],
					"transformations": [
						{
							"name": "AssertCityBothell"
						},
						{
							"name": "drvErrorColumns"
						},
						{
							"name": "split1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          AddressID as integer,",
						"          AddressLine1 as string,",
						"          AddressLine2 as string,",
						"          City as string,",
						"          StateProvince as string,",
						"          CountryRegion as string,",
						"          PostalCode as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> srcAddress",
						"srcAddress assert(expectTrue(City=='Bothell', false, 'assertIsBothell', null, 'City is  not Bothell')) ~> AssertCityBothell",
						"AssertCityBothell derive(TotalErrors = assertErrorMessages(),",
						"          CityError = at(assertErrorMessages(),'assertIsBothell')) ~> drvErrorColumns",
						"drvErrorColumns split(hasError('assertIsBothell'),",
						"     disjoint: false) ~> split1@(InvalidRecords, ValidRows)",
						"split1@InvalidRecords sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['Error.txt'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     outputAssertFailedRows: true,",
						"     assertFailure_container: 'newcontainer',",
						"     partitionBy('hash', 1)) ~> tgtErrors",
						"split1@ValidRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['ValidRows.txt'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> tgtValidRows"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_StagePlaceHolder')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Staging"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "reportingSalesOrderHeader",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Dummy",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          SalesOrderID as integer,",
						"          RevisionNumber as integer,",
						"          OrderDate as timestamp,",
						"          DueDate as timestamp,",
						"          ShipDate as timestamp,",
						"          Status as integer,",
						"          OnlineOrderFlag as boolean,",
						"          SalesOrderNumber as string,",
						"          PurchaseOrderNumber as string,",
						"          AccountNumber as string,",
						"          CustomerID as integer,",
						"          ShipToAddressID as integer,",
						"          BillToAddressID as integer,",
						"          ShipMethod as string,",
						"          CreditCardApprovalCode as string,",
						"          SubTotal as decimal(19,4),",
						"          TaxAmt as decimal(19,4),",
						"          Freight as decimal(19,4),",
						"          TotalDue as decimal(19,4),",
						"          Comment as string,",
						"          rowguid as string,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Column_1 as string",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_CaseHeader_Code_Research_POC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_CaseHeader_Lookups_POC",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:05:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_CaseHeader_Lookups_POC",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"vwCodeTables": {},
									"srcCaseHeader": {},
									"DummyFile": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Final POCs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_DynamicDataFlow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LkupTableNames",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:15:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "/*\n********************************************************************************************************\nThe first sql select will get the table names.\nthe second sql will get the max ordinal. This is to check if there are multiple columns that make up\na unique row. In the case of CODETABLEITEM there are 3. I only want to process on row. If there is\none row the column is use in as the Key Identifier in the data flow.\nIf the Ordinal Position is greater than 1 it is the CODETABLEITEM. Then that data is processed \ndifferently in the data flow via Conditional split.\nThe third sql gets the columns used in the Primary Key\n\nCode by: Renee Poore\n  \n\n*******************************************************************************************************\n*/\n\nSELECT tblinfo.TABLE_NAME,\n       tblinfo.TABLE_SCHEMA,\n       ISNULL(tblid.COLUMN_NAME, 'NA') UNIQUE_ID,\n       mop.ORDINAL_POSITION \nFROM   (SELECT TABLE_NAME,\n               TABLE_SCHEMA\n        FROM   INFORMATION_SCHEMA.TABLES\n        WHERE\n         TABLE_TYPE = 'BASE TABLE'\n         AND TABLE_SCHEMA = 'CURAPD01') tblinfo\n       LEFT OUTER JOIN (SELECT TABLE_NAME,\n                               MAX(ORDINAL_POSITION) AS ORDINAL_POSITION\n                        FROM   INFORMATION_SCHEMA.KEY_COLUMN_USAGE\n                        WHERE\n                         OBJECTPROPERTY(OBJECT_ID(CONSTRAINT_SCHEMA + '.'\n                                                  + QUOTENAME(CONSTRAINT_NAME)), 'IsPrimaryKey') = 1\n                        GROUP  BY TABLE_NAME) mop\n                    ON tblinfo.TABLE_NAME = mop.TABLE_NAME\n\n       INNER JOIN (SELECT DISTINCT TABLE_NAME,\n                                   COLUMN_NAME,\n                                   ORDINAL_POSITION\n                   FROM   INFORMATION_SCHEMA.KEY_COLUMN_USAGE\n                   WHERE\n                    OBJECTPROPERTY(OBJECT_ID(CONSTRAINT_SCHEMA + '.'\n                                             + QUOTENAME(CONSTRAINT_NAME)), 'IsPrimaryKey') = 1) tblid\n               ON mop.TABLE_NAME = tblid.TABLE_NAME\n                  AND mop.ORDINAL_POSITION = tblid.ORDINAL_POSITION \n\n\n\t\t\t\tWHERE MOP.ORDINAL_POSITION = 1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "LookupDynamicAllTables",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "GetEachTableName",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LkupTableNames",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LkupTableNames').output.value\n\n",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "df_RptToStage",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:03:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_RptToStage",
											"type": "DataFlowReference",
											"parameters": {
												"TableName": {
													"value": "'@{item().table_name}'",
													"type": "Expression"
												},
												"SchemaName": {
													"value": "'@{item().table_schema}'",
													"type": "Expression"
												},
												"UniqueID": {
													"value": "'@{item().unique_id}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"RptDB": {
													"Schema": {
														"value": "@item().table_schema",
														"type": "Expression"
													},
													"TableName": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												},
												"StgDB": {
													"Schema": "STG",
													"TableName": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "df_CodeTableItem",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:15:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_CodeTableItem",
								"type": "DataFlowReference",
								"parameters": {
									"TableName": "'CODETABLEITEM'",
									"SchemaName": "'CURAPD01'",
									"UniqueID": "'na'"
								},
								"datasetParameters": {
									"RptDB": {},
									"StgDB": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_RptToStage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_FixedWidth_Email_SFTP_Server')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_Fixed_Width_Test",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:05:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_Fixed_Width_Test",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcDimCustomer": {},
									"tgtEmailFile": {},
									"tgtSFTPServer": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "SendEmailWithAttachment",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "df_Fixed_Width_Test",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:05:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://rpsendemails.azurewebsites.net:443/api/SendEmailsAttachment/triggers/manual/invoke?api-version=2022-05-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=utmn1rr58YwpbXvNns-CAvWjbj_KDQkfOtnJxcux8k4",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n \"title\":   \"@{pipeline().Pipeline} Succeeded!\",\n\"message\": \"Pipeline run finished successfully!\",\n    \"color\": \"Green\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"pipeline().Pipeline\",\n    \"pipelineRunId\": \"pipeline().RunId\",\n     \"time\": \"@{utcnow()}\"\n\n\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Final POCs"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_Fixed_Width_Test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ManualTableReload')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LkupTableNames",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:15:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "blbDynamicTableReload",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "GetEachTableName",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterRowsWithY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterRowsWithY').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "df_DynamicSelect",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_DynamicSelect",
											"type": "DataFlowReference",
											"parameters": {
												"ptblTableName": {
													"value": "'@{item().Table}'",
													"type": "Expression"
												},
												"ptblLastWritten": {
													"value": "'@{item().DateTime}'",
													"type": "Expression"
												},
												"ptblPrimaryKeyColumn": {
													"value": "'@{item().PrimaryKeyColumn}'",
													"type": "Expression"
												},
												"ptblSchema": {
													"value": "'@{item().SourceSchema}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"RptDBTEST": {
													"Schema": {
														"value": "@item().SourceSchema",
														"type": "Expression"
													},
													"TableName": {
														"value": "@item().Table",
														"type": "Expression"
													}
												},
												"StgDBTEST": {
													"Schema": "STG",
													"TableName": {
														"value": "@item().Table",
														"type": "Expression"
													}
												}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					},
					{
						"name": "FilterRowsWithY",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "LkupTableNames",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LkupTableNames').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().Process,'Y')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Staging"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_MasterDimension')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_StagePlaceHolder",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_StagePlaceHolder",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Dimensions"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_StagePlaceHolder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_MasterFact')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is the Main pipeline that will execute all pipelines.",
				"activities": [
					{
						"name": "df_StagePlaceHolder",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_StagePlaceHolder",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"failure": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Facts"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_StagePlaceHolder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_SCD1_POC_Example')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_SCD1_Example",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:05:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_SCD1_Example",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"reportingSalesOrderHeader": {},
									"DimAddress": {},
									"DimCustomer": {},
									"targetSalesOrders": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"continuationSettings": {
								"customizedCheckpointKey": "b646b04b-86c5-49a5-a9a4-c5073a53bc78"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Facts"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_SCD1_Example')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_SCD2_POC_Example')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SCD2_Example",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_SCD2_Example",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcEmployee": {},
									"srcEmployeeDim": {},
									"SinkEmployeeDimInsert": {},
									"SinkEmployeeDimUpdate": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Dimensions"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_SCD2_Example')]"
			]
		}
	]
}