pipeline/pl_DynamicDataFlow_ForLastWritten.json
{
	"name": "pl_DynamicDataFlow_ForLastWritten",
	"properties": {
		"activities": [
			{
				"name": "LkupTableNames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "blbDynamicTableReload",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GetEachTableName",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "df_DynamicSelect",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_DynamicSelect",
									"type": "DataFlowReference",
									"parameters": {
										"ptblTableName": {
											"value": "'@{item().Table}'",
											"type": "Expression"
										},
										"ptblLastWritten": {
											"value": "'@{item().DateTime}'",
											"type": "Expression"
										},
										"ptblPrimaryKeyColumn": {
											"value": "'@{item().PrimaryKeyColumn}'",
											"type": "Expression"
										},
										"ptblSchema": {
											"value": "'@{item().SourceSchema}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"RptDBTEST": {
											"Schema": {
												"value": "@item().SourceSchema",
												"type": "Expression"
											},
											"TableName": {
												"value": "@item().Table",
												"type": "Expression"
											}
										},
										"StgDBTEST": {
											"Schema": "STG",
											"TableName": {
												"value": "@item().Table",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LkupTableNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkupTableNames').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().Process,'Y')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Testing"
		},
		"annotations": []
	}
}