pipeline/pl_MainLoad.json
{
	"name": "pl_MainLoad",
	"properties": {
		"description": "This is the Main pipeline which will contain sub pipelines",
		"activities": [
			{
				"name": "Send Failed Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Data Loads",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://rpsendemail.azurewebsites.net:443/api/SendEmail/triggers/manual/invoke?api-version=2022-05-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=xnVuhU0n2whYlNHCyiFNMdnY9iALouTQvHkkEcY5Hnc",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"@{activity('Execute Data Loads').output.pipelineName} FAILED!\",\n    \"message\": \"Error: @{activity('Execute Data Loads').error.message}\",\n    \"color\": \"Red\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{activity('Execute Data Loads').output.pipelineName}\",\n    \"pipelineRunId\": \"@{activity('Execute Data Loads').output.pipelineRunId}\",\n    \"time\": \"@{utcnow()}\"\n    }",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send Success Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Data Loads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://rpsendemail.azurewebsites.net:443/api/SendEmail/triggers/manual/invoke?api-version=2022-05-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=xnVuhU0n2whYlNHCyiFNMdnY9iALouTQvHkkEcY5Hnc",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"@{activity('Execute Data Loads').output.pipelineName} Completed!\",\n    \"message\": \"Pipeline run finished successfully!\",\n    \"color\": \"Green\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{activity('Execute Data Loads').output.pipelineName}\",\n    \"pipelineRunId\": \"@{activity('Execute Data Loads').output.pipelineRunId}\",\n    \"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Data Loads",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_DataLoads",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "LogExecutionSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Data Loads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_adfPipelineExecutions]",
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"logtime": {
							"value": {
								"value": "@{utcnow()}",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"pipelinerunmessage": {
							"value": {
								"value": "@concat('Pipeline completed successfully: ',activity('Execute Data Loads').output.pipelineName)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CURAPD01",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Main"
		},
		"annotations": []
	}
}